<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>students-test-suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f2a3a5">  <td>17/01/20 19:35:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGradeWithoutMock.testOcena(int, int)[pri:0, instance:unittesting.ssluzba.TestGradeWithoutMock@215be6bb]">testOcena</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>17/01/20 19:35:20</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGradeWithoutMock.testOcena(int, int)[pri:0, instance:unittesting.ssluzba.TestGradeWithoutMock@215be6bb]">testOcena</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>17/01/20 19:35:20</td>   <td>84</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGradeWithoutMock.testOcena(int, int)[pri:0, instance:unittesting.ssluzba.TestGradeWithoutMock@215be6bb]">testOcena</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>17/01/20 19:35:20</td>   <td>104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGradeWithoutMock.testOcena(int, int)[pri:0, instance:unittesting.ssluzba.TestGradeWithoutMock@215be6bb]">testOcena</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="f2a3a5">  <td>17/01/20 19:35:20</td>   <td>119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGradeWithoutMock.testOcena(int, int)[pri:0, instance:unittesting.ssluzba.TestGradeWithoutMock@215be6bb]">testOcena</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="b2c160">  <td>17/01/20 19:35:20</td>   <td>131</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestGradeMock.setUp()[pri:0, instance:unittesting.ssluzba.TestGradeMock@4439f31e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="b2c160">  <td>17/01/20 19:35:21</td>   <td>969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGradeMock.testOcenaMock(int, int)[pri:0, instance:unittesting.ssluzba.TestGradeMock@4439f31e]">testOcenaMock</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="b2c160">  <td>17/01/20 19:35:21</td>   <td>993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGradeMock.testOcenaMock(int, int)[pri:0, instance:unittesting.ssluzba.TestGradeMock@4439f31e]">testOcenaMock</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="b2c160">  <td>17/01/20 19:35:21</td>   <td>1007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGradeMock.testOcenaMock(int, int)[pri:0, instance:unittesting.ssluzba.TestGradeMock@4439f31e]">testOcenaMock</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="b2c160">  <td>17/01/20 19:35:21</td>   <td>1013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGradeMock.testOcenaMock(int, int)[pri:0, instance:unittesting.ssluzba.TestGradeMock@4439f31e]">testOcenaMock</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="b2c160">  <td>17/01/20 19:35:21</td>   <td>1016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGradeMock.testOcenaMock(int, int)[pri:0, instance:unittesting.ssluzba.TestGradeMock@4439f31e]">testOcenaMock</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>17/01/20 19:35:21</td>   <td>1113</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;StudentDAOTest.setUp()[pri:0, instance:unittesting.ssluzba.StudentDAOTest@68be2bc2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>17/01/20 19:35:21</td>   <td>1128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentDAOTest.testFindAll()[pri:0, instance:unittesting.ssluzba.StudentDAOTest@68be2bc2]">testFindAll</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>17/01/20 19:35:21</td>   <td>1142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentDAOTest.testFindByCard()[pri:0, instance:unittesting.ssluzba.StudentDAOTest@68be2bc2]">testFindByCard</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>17/01/20 19:35:21</td>   <td>1150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentDAOTest.testFindByLastName()[pri:0, instance:unittesting.ssluzba.StudentDAOTest@68be2bc2]">testFindByLastName</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>17/01/20 19:35:21</td>   <td>1161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentDAOTest.testFindOne()[pri:0, instance:unittesting.ssluzba.StudentDAOTest@68be2bc2]">testFindOne</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="e2cbe0">  <td>17/01/20 19:35:21</td>   <td>1162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentDAOTest.testSave()[pri:0, instance:unittesting.ssluzba.StudentDAOTest@68be2bc2]">testSave</td> 
  <td>main@542060780</td>   <td></td> </tr>
</table>
