<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>unittesting.calculator.CalculatorTestSquare</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSquareRoot</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSquare</td>
<td>odabranaMetoda </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>unittesting.calculator.CalculatorTestAddSub</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSub</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testAdd</td>
<td>odabranaMetoda </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>methodThatRunsBeforeEveryOtherMethodInThisClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>unittesting.calculator.CalculatorTestMulDiv</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testMul</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testDiv</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testDivByZero</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>unittesting.calculator.CalculatorTestParametrized</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testAdd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testMul</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testDiv</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSquare</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSub</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
