<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>odabranaMetoda</td><td>CalculatorTestSquare.testSquare()[pri:0, instance:unittesting.calculator.CalculatorTestSquare@735b5592]<br/>CalculatorTestAddSub.testAdd()[pri:0, instance:unittesting.calculator.CalculatorTestAddSub@174d20a]<br/></td></tr>
</table>
