<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ZadaciZaVezbu</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80b0f6">  <td>16/09/30 13:48:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTestAddSub.methodThatRunsBeforeEveryOtherMethodInThisClass()[pri:0, instance:unittesting.calculator.CalculatorTestAddSub@174d20a]">&gt;&gt;methodThatRunsBeforeEveryOtherMethodInThisClass</td> 
<td>&nbsp;</td>  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>16/09/30 13:48:54</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTestAddSub.methodThatRunsBeforeEveryOtherMethodInThisClass()[pri:0, instance:unittesting.calculator.CalculatorTestAddSub@174d20a]">&gt;&gt;methodThatRunsBeforeEveryOtherMethodInThisClass</td> 
<td>&nbsp;</td>  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>16/09/30 13:48:55</td>   <td>1098</td> <td>&nbsp;</td><td title="&gt;&gt;CalculatorTestParametrized.metodPreTestCase()[pri:0, instance:unittesting.calculator.CalculatorTestParametrized@20e2cbe0]">&gt;&gt;metodPreTestCase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>16/09/30 13:48:54</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CalculatorTestAddSub.posleGrupeOdabranihMetoda()[pri:0, instance:unittesting.calculator.CalculatorTestAddSub@174d20a]">&lt;&lt;posleGrupeOdabranihMetoda</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>16/09/30 13:48:54</td>   <td>-7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CalculatorTestAddSub.preGrupeOdabranihMetoda()[pri:0, instance:unittesting.calculator.CalculatorTestAddSub@174d20a]">&gt;&gt;preGrupeOdabranihMetoda</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>16/09/30 13:48:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestAddSub.testAdd()[pri:0, instance:unittesting.calculator.CalculatorTestAddSub@174d20a]">testAdd</td> 
  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>16/09/30 13:48:55</td>   <td>1101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestParametrized.testAdd(int)[pri:0, instance:unittesting.calculator.CalculatorTestParametrized@20e2cbe0]">testAdd</td> 
  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>16/09/30 13:48:54</td>   <td>58</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestMulDiv.testDiv()[pri:0, instance:unittesting.calculator.CalculatorTestMulDiv@6d00a15d]">testDiv</td> 
  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>16/09/30 13:48:55</td>   <td>1104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestParametrized.testDiv(int)[pri:0, instance:unittesting.calculator.CalculatorTestParametrized@20e2cbe0]">testDiv</td> 
  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>16/09/30 13:48:54</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestMulDiv.testDivByZero()[pri:0, instance:unittesting.calculator.CalculatorTestMulDiv@6d00a15d]">testDivByZero</td> 
  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>16/09/30 13:48:55</td>   <td>1106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestParametrized.testMul(int)[pri:0, instance:unittesting.calculator.CalculatorTestParametrized@20e2cbe0]">testMul</td> 
  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>16/09/30 13:48:54</td>   <td>72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestSquare.testSquare()[pri:0, instance:unittesting.calculator.CalculatorTestSquare@735b5592]">testSquare</td> 
  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>16/09/30 13:48:55</td>   <td>1110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestParametrized.testSquare(int)[pri:0, instance:unittesting.calculator.CalculatorTestParametrized@20e2cbe0]">testSquare</td> 
  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>16/09/30 13:48:54</td>   <td>75</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestSquare.testSquareRoot()[pri:0, instance:unittesting.calculator.CalculatorTestSquare@735b5592]">testSquareRoot</td> 
  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="80b0f6">  <td>16/09/30 13:48:54</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestAddSub.testSub()[pri:0, instance:unittesting.calculator.CalculatorTestAddSub@174d20a]">testSub</td> 
  <td>main@1870647526</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>16/09/30 13:48:56</td>   <td>1113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CalculatorTestParametrized.testSub(int)[pri:0, instance:unittesting.calculator.CalculatorTestParametrized@20e2cbe0]">testSub</td> 
  <td>main@1870647526</td>   <td></td> </tr>
</table>
