<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>BookSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d3bd8b">  <td>16/09/30 13:36:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BookDAOTest.setUp()[pri:0, instance:unittesting.book.BookDAOTest@458ad742]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2015601401</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>16/09/30 13:36:33</td>   <td>434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookDAOTest.testAddBook()[pri:0, instance:unittesting.book.BookDAOTest@458ad742]">testAddBook</td> 
  <td>main@2015601401</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>16/09/30 13:36:33</td>   <td>443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookDAOTest.testGetAllBooks()[pri:0, instance:unittesting.book.BookDAOTest@458ad742]">testGetAllBooks</td> 
  <td>main@2015601401</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>16/09/30 13:36:33</td>   <td>447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookDAOTest.testGetBook()[pri:0, instance:unittesting.book.BookDAOTest@458ad742]">testGetBook</td> 
  <td>main@2015601401</td>   <td></td> </tr>
<tr bgcolor="d3bd8b">  <td>16/09/30 13:36:33</td>   <td>451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookDAOTest.testUpdateBook()[pri:0, instance:unittesting.book.BookDAOTest@458ad742]">testUpdateBook</td> 
  <td>main@2015601401</td>   <td></td> </tr>
</table>
