<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>greetings</td><td>TestNGConfiguration.runTest1()[pri:0, instance:unittesting.testng.beforeafter.TestNGConfiguration@4de8b406]<br/></td></tr>
</table>
