<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAll</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="698599">  <td>16/07/30 15:02:52</td>   <td>0</td> <td title="&gt;&gt;DBConfig.beforeSuite()[pri:0, instance:unittesting.testng.beforeafter.DBConfig@396a51ab]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="698599">  <td>16/07/30 15:02:52</td>   <td>18</td> <td>&nbsp;</td><td title="&gt;&gt;DBConfig.beforeTest()[pri:0, instance:unittesting.testng.beforeafter.DBConfig@6a2bcfcb]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="8fad71">  <td>16/07/30 15:02:52</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGConfiguration.beforeClass()[pri:0, instance:unittesting.testng.beforeafter.TestNGConfiguration@4de8b406]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="8fad71">  <td>16/07/30 15:02:52</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGConfiguration.beforeGroups()[pri:0, instance:unittesting.testng.beforeafter.TestNGConfiguration@4de8b406]">&gt;&gt;beforeGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="8fad71">  <td>16/07/30 15:02:52</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGConfiguration.beforeMethod()[pri:0, instance:unittesting.testng.beforeafter.TestNGConfiguration@4de8b406]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="8fad71">  <td>16/07/30 15:02:52</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGConfiguration.runTest1()[pri:0, instance:unittesting.testng.beforeafter.TestNGConfiguration@4de8b406]">runTest1</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="8fad71">  <td>16/07/30 15:02:52</td>   <td>58</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGConfiguration.afterMethod()[pri:0, instance:unittesting.testng.beforeafter.TestNGConfiguration@4de8b406]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="8fad71">  <td>16/07/30 15:02:52</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGConfiguration.afterGroups()[pri:0, instance:unittesting.testng.beforeafter.TestNGConfiguration@4de8b406]">&lt;&lt;afterGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="8fad71">  <td>16/07/30 15:02:52</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGConfiguration.beforeMethod()[pri:0, instance:unittesting.testng.beforeafter.TestNGConfiguration@4de8b406]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="8fad71">  <td>16/07/30 15:02:52</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGConfiguration.runTest2()[pri:0, instance:unittesting.testng.beforeafter.TestNGConfiguration@4de8b406]">runTest2</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="8fad71">  <td>16/07/30 15:02:52</td>   <td>64</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGConfiguration.afterMethod()[pri:0, instance:unittesting.testng.beforeafter.TestNGConfiguration@4de8b406]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="8fad71">  <td>16/07/30 15:02:52</td>   <td>65</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGConfiguration.afterClass()[pri:0, instance:unittesting.testng.beforeafter.TestNGConfiguration@4de8b406]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>16/07/30 15:02:52</td>   <td>66</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDBConnection.runOtherTest1()[pri:0, instance:unittesting.testng.beforeafter.TestDBConnection@3c756e4d]">runOtherTest1</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>16/07/30 15:02:52</td>   <td>71</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDBConnection.runOtherTest2()[pri:0, instance:unittesting.testng.beforeafter.TestDBConnection@3c756e4d]">runOtherTest2</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="698599">  <td>16/07/30 15:02:52</td>   <td>80</td> <td>&nbsp;</td><td title="&lt;&lt;DBConfig.afterTest()[pri:0, instance:unittesting.testng.beforeafter.DBConfig@6a2bcfcb]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="698599">  <td>16/07/30 15:02:52</td>   <td>154</td> <td>&nbsp;</td><td title="&gt;&gt;DBConfig.beforeTest()[pri:0, instance:unittesting.testng.beforeafter.DBConfig@396a51ab]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>16/07/30 15:02:52</td>   <td>155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDBConnection.runOtherTest1()[pri:0, instance:unittesting.testng.beforeafter.TestDBConnection@51081592]">runOtherTest1</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>16/07/30 15:02:52</td>   <td>161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestDBConnection.runOtherTest2()[pri:0, instance:unittesting.testng.beforeafter.TestDBConnection@51081592]">runOtherTest2</td> 
  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="698599">  <td>16/07/30 15:02:52</td>   <td>167</td> <td>&nbsp;</td><td title="&lt;&lt;DBConfig.afterTest()[pri:0, instance:unittesting.testng.beforeafter.DBConfig@396a51ab]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
<tr bgcolor="698599">  <td>16/07/30 15:02:52</td>   <td>176</td> <td title="&lt;&lt;DBConfig.afterSuite()[pri:0, instance:unittesting.testng.beforeafter.DBConfig@396a51ab]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@361993357</td>   <td></td> </tr>
</table>
