<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="688d64">  <td>17/02/09 17:21:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DomaciZadatak1.seleniumSetUp()[pri:0, instance:primeri.DomaciZadatak1@7c0e2abd]">&gt;&gt;seleniumSetUp</td> 
<td>&nbsp;</td>  <td>main@731395981</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>17/02/09 17:21:35</td>   <td>6597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DomaciZadatak1.logIn()[pri:0, instance:primeri.DomaciZadatak1@7c0e2abd]">logIn</td> 
  <td>main@731395981</td>   <td></td> </tr>
</table>
