<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>unittesting.testng.groups.TestGroup</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testConnectMySQL</td>
<td>database </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testConnectOracle</td>
<td>database </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>runPostgres</td>
<td>postgres-test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>runPostgres1</td>
<td>postgres-test </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
