<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>database</td><td>TestGroup.testConnectMySQL()[pri:0, instance:unittesting.testng.groups.TestGroup@6574b225]<br/>TestGroup.testConnectOracle()[pri:0, instance:unittesting.testng.groups.TestGroup@6574b225]<br/></td></tr>
</table>
