<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DatabaseGroup</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f792cf">  <td>16/07/30 14:46:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestGroup.cleanDB()[pri:0, instance:unittesting.testng.groups.TestGroup@6574b225]">&lt;&lt;cleanDB</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>16/07/30 14:46:45</td>   <td>-34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestGroup.setupDB()[pri:0, instance:unittesting.testng.groups.TestGroup@6574b225]">&gt;&gt;setupDB</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>16/07/30 14:46:45</td>   <td>-22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup.testConnectMySQL()[pri:0, instance:unittesting.testng.groups.TestGroup@6574b225]">testConnectMySQL</td> 
  <td>main@346861221</td>   <td></td> </tr>
<tr bgcolor="f792cf">  <td>16/07/30 14:46:45</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGroup.testConnectOracle()[pri:0, instance:unittesting.testng.groups.TestGroup@6574b225]">testConnectOracle</td> 
  <td>main@346861221</td>   <td></td> </tr>
</table>
